##**Assignment1**

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import pandas as pd
Mall_Customers = pd.read_csv('/content/drive/My Drive/Data_science/Pandas/Mall_Customers_Dirty.csv')

In [ ]:
Mall_Customers

     CustomerID  Gender    Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19.0                  15                      39
1             2    Male   21.0                  15                      81
2             3  Female   20.0                  16                       6
3             4       F   23.0                  16                      77
4             5  Female   31.0                  17                      40
..          ...     ...    ...                 ...                     ...
195         196  Female   35.0                 120                      79
196         197  Female   45.0                 126                      28
197         198    Male   32.0                 126                      74
198         199    Male   32.0                 137                      18
199         200    Male  250.0                1370                      83

[200 rows x 5 columns]

In [ ]:
#1.แก้ไข Missing Values ของทุก column

In [ ]:
df = pd.DataFrame(Mall_Customers)

In [ ]:
# แสดงรายชื่อคอลัมน์ทั้งหมด
print(df.columns)

Index(['CustomerID', 'Gender', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [ ]:
# เติมค่าที่หายไปด้วยค่าเฉลี่ย (mean)
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Annual Income (k$)'].fillna(df['Annual Income (k$)'].mean(), inplace=True)
df['Spending Score (1-100)'].fillna(df['Spending Score (1-100)'].mean(), inplace=True)

# นับความถี่ของแต่ละค่าใน 'Gender'
gender_mode = df['Gender'].value_counts().idxmax()
# เติมค่าที่หายด้วยค่า mode ที่ถูกต้อง
df['Gender'].fillna(gender_mode, inplace=True)
# แก้ไขค่า 'F' เป็น 'Female' และ 'M' เป็น 'Male'
df['Gender'] = df['Gender'].replace({'F': 'Female', 'M': 'Male'})

In [ ]:
print(df)

     CustomerID  Gender    Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19.0                  15                      39
1             2    Male   21.0                  15                      81
2             3  Female   20.0                  16                       6
3             4  Female   23.0                  16                      77
4             5  Female   31.0                  17                      40
..          ...     ...    ...                 ...                     ...
195         196  Female   35.0                 120                      79
196         197  Female   45.0                 126                      28
197         198    Male   32.0                 126                      74
198         199    Male   32.0                 137                      18
199         200    Male  250.0                1370                      83

[200 rows x 5 columns]

In [ ]:
#2.แก้ไข Outlier ของทุก column

In [ ]:
from scipy import stats
import numpy as np
from scipy.stats.mstats import winsorize
import pandas as pd

In [ ]:
# แสดงข้อมูลสรุปของทุก column โดยใช้ describe()
print("Data Summary Before Handling Outliers:")
print(df.describe())

Data Summary Before Handling Outliers:
       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   41.321429           76.930000               50.200000
std     57.879185   28.910080          118.997298               25.823522
min      1.000000   18.000000          -19.000000                1.000000
25%     50.750000   28.750000           42.750000               34.750000
50%    100.500000   36.000000           62.000000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000  330.000000         1370.000000               99.000000

In [ ]:
# ตรวจสอบและแก้ไข Outlier สำหรับทุก column
for column in df.select_dtypes(include=['number']).columns:
    # นำเสนอข้อมูลสรุปของคอลัมน์
    print(f"Summary for {column}:")
    print(df[column].describe())

Summary for CustomerID:
count    200.000000
mean     100.500000
std       57.879185
min        1.000000
25%       50.750000
50%      100.500000
75%      150.250000
max      200.000000
Name: CustomerID, dtype: float64
Summary for Age:
count    200.000000
mean      41.321429
std       28.910080
min       18.000000
25%       28.750000
50%       36.000000
75%       49.000000
max      330.000000
Name: Age, dtype: float64
Summary for Annual Income (k$):
count     200.000000
mean       76.930000
std       118.997298
min       -19.000000
25%        42.750000
50%        62.000000
75%        78.000000
max      1370.000000
Name: Annual Income (k$), dtype: float64
Summary for Spending Score (1-100):
count    200.000000
mean      50.200000
std       25.823522
min        1.000000
25%       34.750000
50%       50.000000
75%       73.000000
max       99.000000
Name: Spending Score (1-100), dtype: float64

In [ ]:
# ฟังก์ชันการแก้ไข Outlier ด้วย Z-Score
def handle_outliers_z_score(df, column, threshold=3):
    z_scores = stats.zscore(df[column])
    outliers = (np.abs(z_scores) > threshold)
    df[column] = np.where(outliers, df[column].median(), df[column])

# ใช้ฟังก์ชัน handle_outliers_z_score สำหรับทุก column ที่เป็น numeric
for column in df.select_dtypes(include=['number']).columns:
    handle_outliers_z_score(df, column)

# แสดง DataFrame หลังจากทำความสะอาด Outlier
print(df)

     CustomerID  Gender   Age  Annual Income (k$)  Spending Score (1-100)
0           1.0    Male  19.0                15.0                    39.0
1           2.0    Male  21.0                15.0                    81.0
2           3.0  Female  20.0                16.0                     6.0
3           4.0  Female  23.0                16.0                    77.0
4           5.0  Female  31.0                17.0                    40.0
..          ...     ...   ...                 ...                     ...
195       196.0  Female  35.0               120.0                    79.0
196       197.0  Female  45.0               126.0                    28.0
197       198.0    Male  32.0               126.0                    74.0
198       199.0    Male  32.0               137.0                    18.0
199       200.0    Male  36.0                62.0                    83.0

[200 rows x 5 columns]

In [ ]:
#3.แก้ไขค่าของข้อมูลที่ไม่สอดคล้องกับของ Gender

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# แสดงข้อมูลหลังจากการแก้ไขข้อมูลที่ไม่สอดคล้องกับเพศ
print("DataFrame before fixing values not conforming to Gender:")
print(df)

DataFrame before fixing values not conforming to Gender:
     CustomerID  Gender   Age  Annual Income (k$)  Spending Score (1-100)
0           1.0    Male  19.0                15.0                    39.0
1           2.0    Male  21.0                15.0                    81.0
2           3.0  Female  20.0                16.0                     6.0
3           4.0  Female  23.0                16.0                    77.0
4           5.0  Female  31.0                17.0                    40.0
..          ...     ...   ...                 ...                     ...
195       196.0  Female  35.0               120.0                    79.0
196       197.0  Female  45.0               126.0                    28.0
197       198.0    Male  32.0               126.0                    74.0
198       199.0    Male  32.0               137.0                    18.0
199       200.0    Male  36.0                62.0                    83.0

[200 rows x 5 columns]

In [ ]:
# ฟังก์ชันสำหรับแก้ไขค่าข้อมูลที่ไม่สอดคล้องกับเพศ
def fix_gender_values(row):
    if row['Gender'] == 'Male':
        row['Age'] = min(row['Age'], np.percentile(df[df['Gender'] == 'Male']['Age'], 99))
        row['Annual Income (k$)'] = min(row['Annual Income (k$)'], np.percentile(df[df['Gender'] == 'Male']['Annual Income (k$)'], 99))
    elif row['Gender'] == 'Female':
        row['Age'] = min(row['Age'], np.percentile(df[df['Gender'] == 'Female']['Age'], 99))
        row['Annual Income (k$)'] = min(row['Annual Income (k$)'], np.percentile(df[df['Gender'] == 'Female']['Annual Income (k$)'], 99))
    return row

In [ ]:
# ใช้ฟังก์ชัน fix_gender_values กับทุกแถว
df = df.apply(fix_gender_values, axis=1)

In [ ]:
# แสดงข้อมูลหลังจากการแก้ไขค่าข้อมูลที่ไม่สอดคล้องกับเพศ
print("\nDataFrame after fixing values not conforming to Gender:")
print(df)

DataFrame after fixing values not conforming to Gender:
     CustomerID  Gender   Age  Annual Income (k$)  Spending Score (1-100)
0           1.0    Male  19.0                15.0                    39.0
1           2.0    Male  21.0                15.0                    81.0
2           3.0  Female  20.0                16.0                     6.0
3           4.0  Female  23.0                16.0                    77.0
4           5.0  Female  31.0                17.0                    40.0
..          ...     ...   ...                 ...                     ...
195       196.0  Female  35.0               120.0                    79.0
196       197.0  Female  45.0               120.0                    28.0
197       198.0    Male  32.0               126.0                    74.0
198       199.0    Male  32.0               137.0                    18.0
199       200.0    Male  36.0                62.0                    83.0

[200 rows x 5 columns]

In [ ]:
#4.แปลงข้อมูลของ Age และ Annual Income ให้อยู่ในช่วงค่า 1 ถึง 100

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [ ]:
# แสดงข้อมูลหลังจากการแก้ไขข้อมูลที่ไม่สอดคล้องกับเพศ
print("DataFrame before Min-Max Scaling:")
print(df)

DataFrame before Min-Max Scaling:
     CustomerID  Gender   Age  Annual Income (k$)  Spending Score (1-100)
0           1.0    Male  19.0                15.0                    39.0
1           2.0    Male  21.0                15.0                    81.0
2           3.0  Female  20.0                16.0                     6.0
3           4.0  Female  23.0                16.0                    77.0
4           5.0  Female  31.0                17.0                    40.0
..          ...     ...   ...                 ...                     ...
195       196.0  Female  35.0               120.0                    79.0
196       197.0  Female  45.0               120.0                    28.0
197       198.0    Male  32.0               126.0                    74.0
198       199.0    Male  32.0               137.0                    18.0
199       200.0    Male  36.0                62.0                    83.0

[200 rows x 5 columns]

In [ ]:
# Min-Max Scaling ข้อมูล 'Age' และ 'Annual Income'
scaler = MinMaxScaler(feature_range=(1, 100))
df[['Age', 'Annual Income (k$)']] = scaler.fit_transform(df[['Age', 'Annual Income (k$)']])

In [ ]:
# แสดงข้อมูลหลัง Min-Max Scaling
print("\nDataFrame after Min-Max Scaling:")
print(df)

DataFrame after Min-Max Scaling:
     CustomerID  Gender        Age  Annual Income (k$)  Spending Score (1-100)
0           1.0    Male   2.903846           16.060403                    39.0
1           2.0    Male   6.711538           16.060403                    81.0
2           3.0  Female   4.807692           16.503356                     6.0
3           4.0  Female  10.519231           16.503356                    77.0
4           5.0  Female  25.750000           16.946309                    40.0
..          ...     ...        ...                 ...                     ...
195       196.0  Female  33.365385           62.570470                    79.0
196       197.0  Female  52.403846           62.570470                    28.0
197       198.0    Male  27.653846           65.228188                    74.0
198       199.0    Male  27.653846           70.100671                    18.0
199       200.0    Male  35.269231           36.879195                    83.0

[200 rows x 5 columns]

In [ ]:
#5.สร้าง column ใหม่โดยท่า Discretize ข้อมูล Annual Income ให้เป็น categorical data มีค่าเป็น มาก, ปานกลาง, น้อย

In [ ]:
import pandas as pd
# ใช้ pd.qcut() ในการ Discretize ข้อมูล Annual_Income
df['Income_Level'] = pd.qcut(df['Annual Income (k$)'], q=[0, 1/3, 2/3, 1], labels=['น้อย', 'ปานกลาง', 'มาก'])
# แสดง DataFrame หลังจาก Discretize
print(df[['Annual Income (k$)', 'Income_Level']])

     Annual Income (k$) Income_Level
0             16.060403         น้อย
1             16.060403         น้อย
2             16.503356         น้อย
3             16.503356         น้อย
4             16.946309         น้อย
..                  ...          ...
195           62.570470          มาก
196           62.570470          มาก
197           65.228188          มาก
198           70.100671          มาก
199           36.879195      ปานกลาง

[200 rows x 2 columns]

In [ ]:
#6.save ข้อมูลที่แก้ไขแล้วลงไฟล์ CSV

In [ ]:
# บันทึก DataFrame ลงในไฟล์ CSV
df.to_csv('modified_data.csv', index=False)

# ตรวจสอบไฟล์ CSV ที่ถูกสร้าง
print("File saved successfully.")

File saved successfully.